* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
    background-color: #E5EDF5;
}

.btn {
    background-color: #1DD1A1;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border: none;
    width: 100px;
    height: 40px;
    padding-top: 10px;
}

.btn:active {
    background-color: #1DD1A1;
}

.btn:disabled {
    background-color: #C9E5DD;
}

#kopcence1, #kopcence2 {
    padding-left: 15px;
    width: 80px;
    height: 30px;
    background-color: #1DD1A1;
}

input#monthly:checked + .btn-monthly{
    background-color: blue;
}

input#yearly:checked + #kopcence2{
    background-color: red;   
}

.switch {
    display: none;
}

#months {
    padding: 0;
    margin: 0;
    display: inline-block;
    border: 2px solid;
    border-color: #C6C6C6;
    background: #fff;
    border-radius: 5px;
}

#productsTable {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.5%;
}

.inline {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 22px;
    font-weight: bold;
    color: #000000;
}


.tableExpenses {
    border-collapse: separate;
    border-spacing: 0 5px;
    width: 100%;
}

    .tableExpenses thead {
        background-color: transparent;
        font-size: 16px;
        color: #404040;
        padding-bottom: 15px;
        border-bottom: 1px solid;
        border-color: #707070;
    }

    .tableExpenses td {
        color: #575757;
        background-color: whitesmoke;
        padding: 20px;
    }

.navbar-toggler, #navbar-list-4 {
    float: right;
    margin-left: 80%;
}
  